# Compiled class file
*.class

### allure ####
/.allure/
/.allure/allure-2.21.0

### target ###
!target
!target/allure-results
/target/classes
/target/generated-sources
/target/generated-test-sources
/target/maven-status
/target/surefire-reports
/target/test-classes

!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
!README.md

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr